<section class="section">
  <div class="container">
    <article class="media">
      <div class="media-content">
        <h1 class="title">newsfeed</h1>
        <h2 class="subtitle">a simple feed reader &amp; aggregator</h2>
      </div>
    </article>
  </div>
</section>

<section class="section">
  <div class="container">
  	{{ range .Content }}
    <label class="label">{{ .Title }}{{ if .UpdatedParsed }}<small>, {{ .UpdatedParsed.Format `02.01.2006` }}</small>{{ end }}</label>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Items }}
        <tr>
          <td><a href="{{ .Link }}">{{ .Title }}</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
  </div>
</section>
