<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="/" >
                <span class="icon"><i class="fa fa-rss-square"></i></span>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item {{ if eq .Active `feeds`}}is-active{{ end }}" href="/">
                  <span class="icon"><i class="fa fa-rss"></i></span>
                  <span>Feeds</span>
                </a>
                <a class="navbar-item {{ if eq .Active `settings`}}is-active{{ end }}" href="/settings">
                  <span class="icon"><i class="fa fa-cog"></i></span>
                  <span>Settings</span>
                </a>
                <span class="navbar-item">
                  <a class="button is-info is-inverted" href="https://github.com/anyandrea/newsfeed" target="_blank" rel="noopener noreferrer">
                    <span class="icon"><i class="fa fa-github"></i></span>
                    <span>Source</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>

    {{ yield }}

  </body>
</html>
